body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: linear-gradient(lightgreen,skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(216, 51, 51, 0.1);
}
input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
}
button {
    padding: 8px 15px;
    background: rgb(81, 230, 217);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: darkblue;
}
h2{
    color:cornflowerblue;
    text-shadow: 2px;
}